<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCityServlet</servlet-name>
        <servlet-class>AdminCityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowCitiesServlet</servlet-name>
        <servlet-class>AdminShowCitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCityServlet</servlet-name>
        <servlet-class>DeleteCityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowCitiesServlet</servlet-name>
        <servlet-class>UserShowCitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerShowCitiesServlet</servlet-name>
        <servlet-class>OwnerShowCitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerSignupServlet</servlet-name>
        <servlet-class>OwnerSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerLoginServlet</servlet-name>
        <servlet-class>OwnerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowAirbnbsServlet</servlet-name>
        <servlet-class>UserShowAirbnbsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignupServlet</servlet-name>
        <servlet-class>UserSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowServlet</servlet-name>
        <servlet-class>AdminShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApproveOwnerServlet</servlet-name>
        <servlet-class>AdminApproveOwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPendingOwnerServlet</servlet-name>
        <servlet-class>AdminPendingOwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPropertiesServlet</servlet-name>
        <servlet-class>AdminPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowPropertiesServlet</servlet-name>
        <servlet-class>AdminShowPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePropertyServlet</servlet-name>
        <servlet-class>DeletePropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerShowPropertiesServlet</servlet-name>
        <servlet-class>OwnerShowPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerPropertiesServlet</servlet-name>
        <servlet-class>OwnerPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOwnerPropertyServlet</servlet-name>
        <servlet-class>DeleteOwnerPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerChoosePropertiesServlet</servlet-name>
        <servlet-class>OwnerChoosePropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerAddPropertiyPhoto</servlet-name>
        <servlet-class>OwnerAddPropertiyPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerShowPropertiesPhotosServlet</servlet-name>
        <servlet-class>OwnerShowPropertiesPhotosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOwnerPropertyPhotoServlet</servlet-name>
        <servlet-class>DeleteOwnerPropertyPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowPropertityPhotosServlet</servlet-name>
        <servlet-class>UserShowPropertityPhotosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowPropertityDetailServlet</servlet-name>
        <servlet-class>UserShowPropertityDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlinePaymentServlet</servlet-name>
        <servlet-class>OnlinePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashPaymentServlet</servlet-name>
        <servlet-class>CashPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewBookingsServlet</servlet-name>
        <servlet-class>UserViewBookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerShowEditPropertiesServlet</servlet-name>
        <servlet-class>OwnerShowEditPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerShowEditPerPropertyServlet</servlet-name>
        <servlet-class>OwnerShowEditPerPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerEditPerPropertyServlet</servlet-name>
        <servlet-class>OwnerEditPerPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowBlockDatesServlet</servlet-name>
        <servlet-class>UserShowBlockDatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheckDatesServlet</servlet-name>
        <servlet-class>UserCheckDatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerViewBookingsServlet</servlet-name>
        <servlet-class>OwnerViewBookingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCityServlet</servlet-name>
        <url-pattern>/AdminCityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowCitiesServlet</servlet-name>
        <url-pattern>/AdminShowCitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCityServlet</servlet-name>
        <url-pattern>/DeleteCityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowCitiesServlet</servlet-name>
        <url-pattern>/UserShowCitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerShowCitiesServlet</servlet-name>
        <url-pattern>/OwnerShowCitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerSignupServlet</servlet-name>
        <url-pattern>/OwnerSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerLoginServlet</servlet-name>
        <url-pattern>/OwnerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowAirbnbsServlet</servlet-name>
        <url-pattern>/UserShowAirbnbsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignupServlet</servlet-name>
        <url-pattern>/UserSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowServlet</servlet-name>
        <url-pattern>/AdminShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminApproveOwnerServlet</servlet-name>
        <url-pattern>/AdminApproveOwnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPendingOwnerServlet</servlet-name>
        <url-pattern>/AdminPendingOwnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPropertiesServlet</servlet-name>
        <url-pattern>/AdminPropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowPropertiesServlet</servlet-name>
        <url-pattern>/AdminShowPropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePropertyServlet</servlet-name>
        <url-pattern>/DeletePropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerShowPropertiesServlet</servlet-name>
        <url-pattern>/OwnerShowPropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerPropertiesServlet</servlet-name>
        <url-pattern>/OwnerPropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOwnerPropertyServlet</servlet-name>
        <url-pattern>/DeleteOwnerPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerChoosePropertiesServlet</servlet-name>
        <url-pattern>/OwnerChoosePropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerAddPropertiyPhoto</servlet-name>
        <url-pattern>/OwnerAddPropertiyPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerShowPropertiesPhotosServlet</servlet-name>
        <url-pattern>/OwnerShowPropertiesPhotosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOwnerPropertyPhotoServlet</servlet-name>
        <url-pattern>/DeleteOwnerPropertyPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowPropertityPhotosServlet</servlet-name>
        <url-pattern>/UserShowPropertityPhotosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowPropertityDetailServlet</servlet-name>
        <url-pattern>/UserShowPropertityDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlinePaymentServlet</servlet-name>
        <url-pattern>/OnlinePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashPaymentServlet</servlet-name>
        <url-pattern>/CashPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewBookingsServlet</servlet-name>
        <url-pattern>/UserViewBookingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerShowEditPropertiesServlet</servlet-name>
        <url-pattern>/OwnerShowEditPropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerShowEditPerPropertyServlet</servlet-name>
        <url-pattern>/OwnerShowEditPerPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerEditPerPropertyServlet</servlet-name>
        <url-pattern>/OwnerEditPerPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowBlockDatesServlet</servlet-name>
        <url-pattern>/UserShowBlockDatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheckDatesServlet</servlet-name>
        <url-pattern>/UserCheckDatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerViewBookingsServlet</servlet-name>
        <url-pattern>/OwnerViewBookingsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
